/* breaking points 

- Les très petits écrans (< 768 px : pour les écrans dont la largeur est comprise entre 0 px et 768 px)
- Tablettes (768 px - 991 px)
- Ordinateurs (992 px - 1199 px)
- Grands écrans d'ordinateurs et télévisions

*/


@media only screen and (max-width: 767px) {
    /* Partie : Nav */
    nav {
        padding-right:10vw;
    }

    /* Partie : Photo + nom */
    #presentation-container {
        background: none;
    }
    #presentation-container, #a-propos-container {
        flex-direction: column;
    }

    #photo {
        margin: 0 0 3vh 0;
    }
    #perso {
        display: flex;
        position: absolute;
        z-index: -1;
        transform: translate(2.5vw, -7vh);
    }
    /* Fin Partie : Photo + nom */

    /* Partie : A propos */
    #a-propos-container div {
        width: 95%;
    }

    #text {
        margin-top: 2vh;
        padding-top: 2vh;
        border-top: solid rgba(0, 0, 0, 0.2) 1px;
    }
    /* Fin Partie : A propos */

    /* Partie : Mes projets */
    #mes-projets-container {
        flex-wrap: wrap;
        align-items: center;
    }
    .thumbnails {
        width: 70vw;
        margin-bottom: 7vh;
    }
    .thumbnails img {
        width: auto;
    }
    /* Fin Partie : Mes projets */

    /* Partie : Actually learning */
    #learning-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30vh;
    }
    #learning-title {
        display: none;
    }
    #learning-title-mobile {
        display: flex;
    }
    #learning-container div p {
        display: none;
    }
    #learning-container div {
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: rgb(170,220,255);
        transform: translate(0, 30vh);
    }
    #logoDebian {
        width: 20vw;
    }
    /* Fin Partie : Actually learning */

    /* Partie : TOUS projets confondus */
    .titre-container {
        flex-direction: column;
    }

    .description {
        font-size: 1em;
    }

    .logo{
        width: 10vw;
    }
    /* Fin Partie : TOUS projets confondus */

    /* Partie : 2TServices */
    #logo1-2t, #logo2-2t, #logo3-2t, #logo4-2t, #logo5-2t, #logo6-2t {
        transform: translate(0 , 0);
    }
    #recommendation-2t {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 3vh;
        margin-right:20vw;
    }
    #recommendation-2t a img {
        margin-bottom: 2vh;
    }
    .splide {
        margin: 0 0;
        object-fit: contain;
    }
    .splide__list, .splide__slide, .splide__slide a, .splide__slide img {
        object-fit: contain;
    }
    /* Fin Partie : 2TServices */  

    footer {
        text-align: center;
    }
}