/* -- Fonts -- */
@font-face {
    font-family: Valid-Harmony; 
    src: url("./fonts/Valid-Harmony.ttf") format('truetype'),
        url("./fonts/Valid-Harmony.otf") format('opentype'),
        url("./fonts/Valid-Harmony.woff") format("woff");
}
/* -- Fonts -- */

/* -- Lazy loading -- */
.lazy {
    opacity: 0;
}
/* -- Lazy loading -- */

body {
    margin: 0;

    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* -- Nav bar -- */
nav {
    display: flex;
    justify-content: right;
    padding: 0 10vw 0 0;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

.nav-column {
    border-radius: 5px;
    margin-right: 7vw;
    padding: 5vh 1vw 1vh 1vw;
}
.nav-column:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(170,196,231, 0.2));
}
.nav-column:hover p {
    color: rgb(40,66,101);
}
nav a {
    text-decoration: none;
}
nav p {
    
    color: rgb(22, 22, 22);
    font-size: 1.1em;
    font-family: Verdana, Tahoma, sans-serif;
}
/* -- Nav bar -- */

/* -- Partie : Photo + nom -- */
#presentation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 0 5vh 0;

    background-image: url("./images/bg-min.jpg");
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#photo {
    width: 250px;
    height: 250px;
    margin-right: 13vw;
    border-radius: 50%;
    border: solid black 1px;
    transition: 2s;
    transform: translate(-25vw, 0);
}
#perso {
    display: none;
}

#div-titre {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-style: italic;
    letter-spacing: 0.1em;

    transition: 2s;
    transform: translate(25vw,0);
}

#nom-titre {
    margin-bottom: 35px;
    font-size: 2.5em;
    -webkit-text-stroke: 2px black;
    color: white;
}

#job-titre {
    padding: 0.5vh 0.5vw;
    border-radius: 5px;
    color: rgb(0,23,249);
    background-color: white;
}
/* -- Fin Partie : Photo + nom  -- */


/* -- Partie : A propos -- */
#a-propos-container {
    display: flex;
    align-items: center;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 1vh 0 4vh 0;
    background-color: rgb(170,196,231);
}

#a-propos-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#job {
    transition: 1s;
}

#jobpic {
    height: 40vh;
}
#jobdesc {
    font-size: 1.4em;
    font-weight: 400;
    text-align: center;
}

#titre-apropos {
    font-family: Valid-Harmony, sans-serif;
    letter-spacing: 0.2em;
    font-size: 2em;
    font-style: italic;
}
#text {
    margin: 0 2 vw;
    padding-top: 3vh;
    transition: 1s;
}
#text p {
    width: 90%;
} 
/* -- Fin Partie : A propos -- */


/* -- Partie : Mes projets -- */
#titre-projets {
    text-align: center;
    font-size: 2em;
    font-style: italic;
    font-family: Valid-Harmony, sans-serif;
    letter-spacing: 0.2em;
    margin: 5vh 0;
}

#mes-projets-container {
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 7vh;
}

.thumbnails {
    text-align: center;
    width: 30vw;
}
.thumbnails img {
    width: 20vw;
    height: 20vh;
    border-radius: 2px;
    object-fit: cover;
}
.thumbnails h4 {
    margin: 1vh 0 1vh 0;
}

.img2t, .imgFc, .imgPf {
    transition: 0.7s;
}
.img2t-hover, .imgFc-hover, .imgPf-hover {
    animation: opacityChange 0.7s forwards;
}
@keyframes opacityChange {
    0% {opacity: 0;}
    100%{opacity: 1;}
}
.img2t-hover, .imgFc-hover, .imgPf-hover {
    display: none;
}
.th2t:hover .img2t {
    display: none;
}
.th2t:hover .img2t-hover {
    display:inline;
}
.thFc:hover .imgFc {
    display: none;
}
.thFc:hover .imgFc-hover {
    display: inline;
}
.thPf:hover .imgPf {
    display: none;
}
.thPf:hover .imgPf-hover {
    display: inline;
}
/* -- Fin Partie : Mes projets -- */


/* --- Partie : Actually learning --- */
#learning-container {
    background-image: url("./images/actuellement-min.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 3vh;
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

#learning-container h2 {
    text-align: center;
    font-size: 2em;
    font-style: italic;
    font-family: Valid-Harmony, sans-serif;
    letter-spacing: 0.2em;
}
#learning-title-mobile {
    display: none;
}

#learning-container div {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#learning-container div p {
    margin-bottom: 3vh;
}

#logoJM {
    transform: translate(-20vw,0);
    transition: 1s;
}
#logoPG {
    width: 30vw;
    transform: translate(-30vw,0);
    transition: 1s;
}
#logoApache {
    transition: 1s;
    transform: translate(20vw,0);
}
#logoDebian {
    width: 5vw;
    transition: 1s;
    transform: translate(20vw,0);
}
#logoC {
    width: 20vw;
    transition: 1s;
    transform: translate(30vw,0);
} 
/* --- Fin Partie : Actually learning --- */


/* -- TOUS projets confondus -- */
.projet-container {
    margin: 5vh 0 7vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-family: Valid-Harmony;

    margin-top: 3vh;
    width: 100vw;
}
.sous-titre {
    font-family: Valid-Harmony;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 4vh;
}
.titre-container h2 {
    font-size: 2.5em;
    letter-spacing: 0.3em;
    font-weight: bold;
}

.logoContainer {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
   object-fit: contain;
   width: 150px;
}

.description {
    width: 80vw;
    margin-top: 5vh;
    text-align: justify;
    font-size: 1.2em;
    font-family: Verdana, Tahoma, sans-serif;
}
/* -- TOUS projets confondus -- */

/* -- Partie : 2TServices -- */
#logo1-2t {
    transform: translate(0, -2vh);
    transition: 1s;
}
#logo2-2t {
    transform: translate(0, 2vh);
    transition: 1.2s;
    width: 75px;
}
#logo3-2t {
    transform: translate(0, -6vh);
    transition: 1.4s;
    width: 150px;
}
#logo4-2t {
    transform: translate(0, 2vh);
    transition: 1.6s;
}
#logo5-2t {
    transform: translate(0, -6vh);
    transition: 1.8s;
}
#logo6-2t {
    transform: translate(0, 1vh);
    transition: 2s;
}

#recommendation-2t {
    display: flex;
    align-items: center;
    margin-top: 3vh;
    transition: 1.5s;
}
#recommendation-2t h4 {
    margin-right: 3vw;
    font-family: century;
    font-size: 1.2em;
}

#recommendation-2t a img {
    width: 150px;
    height: 150px;
    border-radius: 50%;   
}
/* -- Fin Partie : 2TServices -- */


/* -- Partie : Portfolio -- */
#logo1-Pf {
    transition: 1.6s;
}
#logo2-Pf {
    transition: 1.4s;
}
#logo3-Pf {
    transition: 1.2s;
}
/* -- Fin Partie : Portfolio -- */


/* -- Partie : Fast Caddie -- */
#logo1-Fc {
    transition: 1.3s;
}
#logo2-Fc {
    width: 5vw;
    transition: 1.6s;
}
#logo3-Fc {
    transition: 1.9s;
}
#logo4-Fc {
    width: 5vw;
    transition: 1.6s;
}
#logo5-Fc {
    transition: 1.3s;
}
/* -- Fin Partie : Fast Caddie -- */


/* -- Partie : Footer -- */
footer {   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
    height: 6vh;
    background-color: rgb(170,196,231);

    font-family: Valid-Harmony;
    letter-spacing: 0.2em;
    font-weight: bolder;
}
/* -- Fin Partie : Footer -- */